/**
 * Shared CSS -> Links
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

:root {
  --spacing-small: 1.5rem;
  --spacing-medium: 3rem;
  --spacing-large: 6rem;
  --spacing-extra-large: 8.5rem;
}

/* Padding */

.spacing-module--control--34ba4.spacing-module--padding_top_none--40322 {
    padding-top: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_top_small--e821d {
    padding-top: 1.5rem;
    padding-top: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
    padding-top: 3rem;
    padding-top: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
    padding-top: 6rem;
    padding-top: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
    padding-top: 8.5rem;
    padding-top: var(--spacing-extra-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_none--291df {
    padding-bottom: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_small--052a0 {
    padding-bottom: 1.5rem;
    padding-bottom: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
    padding-bottom: 3rem;
    padding-bottom: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
    padding-bottom: 6rem;
    padding-bottom: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
    padding-bottom: 8.5rem;
    padding-bottom: var(--spacing-extra-large);
  }

@media (max-width: 767px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
      padding-top: 2.4rem;
      padding-top: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
      padding-top: 4.8rem;
      padding-top: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 6.8rem;
      padding-top: calc(var(--spacing-extra-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
      padding-bottom: 2.4rem;
      padding-bottom: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
      padding-bottom: 4.8rem;
      padding-bottom: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-bottom: 6.8rem;
      padding-bottom: calc(var(--spacing-extra-large)*0.8);
    }
}

@media screen and (max-width: 600px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }
}

/**
 * Pagebuilder -> components -> CTA
 */

.CTA-module--root--82fdd {
  position: relative;
  z-index: 50;
  text-align: center;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.CTA-module--labelBelow--c9682 {
  padding: 0 calc(var(--gutter)/2);
}

.CTA-module--isLink--7ca79 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

/**
 * Pagebuilder -> components -> Header
 */

div.Header-module--root--93271 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: calc(var(--gutter)*2);
}

.Header-module--root--93271 .Header-module--sub--4ed10 {
  line-height: 1.45;
  width: 100%;
}

.Header-module--root--93271 .Header-module--sub__link--7a7cc {
  font-weight: var(--font-weight-bold);
}

.Header-module--root--93271 .Header-module--title--00d76 {
  width: 100%;
  position: relative;
  letter-spacing: -0.05em;
}

/**
 * Badge
 */

.Header-module--badge--b86e6 {
  width: 100px;
  margin: 0 auto var(--gutter) auto;
}

.Header-module--badge--b86e6 img {
    width: 100%;
  }

@media screen and (min-width: 600px) {
  .Header-module--badge--b86e6 {
    position: absolute;
    -webkit-transform: translate(-75%, -75%);
            transform: translate(-75%, -75%);
    margin: 0;
  }
}

/**
 * Pagebuilder -> components -> Section
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Section-module--root--93447 {
  background-color: var(--color-fill-default);
  position: relative;
  z-index: 2;
}

.Section-module--floatOnTop--b9422 {
  z-index: 50;
}

/* Text color */

.Section-module--text_color_light--35b3d {
  color: var(--color-text-light);
}

.Section-module--text_color_dark--3d1a3 {
  color: var(--color-text-default);
}

/* Background Colors */

.Section-module--background_color_lightgray_fade_white--3789b {
  background: linear-gradient(0deg, #fff 0%, var(--color-gray-5) 100%);
}

.Section-module--background_color_lightgray--2992e {
  background-color: var(--color-gray-5);
}

.Section-module--background_color_purple--56d29 {
  background-color: var(--color-zoltad-purple);
  color: #fff;
}

.Section-module--background_color_dark_green--2ca9f {
  background-color: var(--color-summit-green);
  color: #fff;
}

.Section-module--background_color_light_blue--98002 {
  background-color: var(--color-light-blue);
}

.Section-module--background_color_yellow--29642 {
  background-color: var(--color-yellow);
}

/* Page Rip */

.Section-module--hasPageRip--4dd69 {
  z-index: 1;
}

.Section-module--pageRip--36de0 {
  position: absolute;
  height: 75px;
  left: 0;
  right: 0;
  pointer-events: none;
  background-repeat: repeat-x;
  background-size: 1600px 80px;
  z-index: 20;
  background-position-x: center;
  background-image: url(/static/page-rip-white-aa7277d19f705d05534e6a2fd1f3b8d8.png);
}

.Section-module--pageRip--36de0.Section-module--grayFill--12861 {
    background-image: url(/static/page-rip-gray-4e719f7e7600660c24b3e32a1d833af5.png);
  }

.Section-module--pageRip--36de0.Section-module--top--f4108 {
    top: -30px;
    background-position-y: bottom;
  }

.Section-module--pageRip--36de0.Section-module--bottom--8c28a {
    bottom: -45px;
    background-position-y: top;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

/**
 * Responsive
 */

@media (max-width: 500px) {
  .Section-module--pageRip--36de0 {
    background-size: 200px 90px;
    background-image: url(/static/page-rip-white-mobile-55bbafc70626ec518e32845f72ec2eef.png);
  }

    .Section-module--pageRip--36de0.Section-module--grayFill--12861 {
      background-image: url(/static/page-rip-gray-mobile-61e5e60262b4aab71ae963600a2dd84b.png);
    }
}

/**
 * Pagebuilder -> sections -> Hero -> ImageBreakpoints
 */

.ImageBreakpoints-module--image--1ef5c {
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 0;
  transition: padding-top 0.7s;
  /* } */
}

.ImageBreakpoints-module--image--1ef5c.ImageBreakpoints-module--hasLogoSprinkle--83bcf {
    padding-top: 3.25rem !important;
  }

/* & :global(.gatsby-image-wrapper img) { */

/* transition: opacity .1s linear !important; */

/* transition: none !important; */

.ImageBreakpoints-module--image__inner--65d63 {
  width: 100%;
}

/**
 * Sections -> Hero -> Layouts -> Split Image Layout
 */

.SplitImageLayout-module--root--b0da4 {
  overflow: hidden;
}

.SplitImageLayout-module--content--21e2c {
  display: flex;
  width: 100%;
  justify-content: center;
}

.SplitImageLayout-module--start--13dd4,
.SplitImageLayout-module--end--a182a {
  width: 100%;
  min-width: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.SplitImageLayout-module--center--629f9 {
  display: flex;
  flex-direction: column;
}

.SplitImageLayout-module--cta-vertical-alignment-top--8d2be .SplitImageLayout-module--center--629f9 {
  justify-content: flex-start;
}

.SplitImageLayout-module--cta-vertical-alignment-center--5cd40 .SplitImageLayout-module--center--629f9 {
  justify-content: center;
}

/**
 * Label
 */

.Label-module--root--54645 {
  display: flex;
  color: var(--form-label-color);
  margin-bottom: var(--form-label-margin-bottom);
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Label-module--asterisk--b94a6 {
  color: var(--color-danger);
  margin-left: 0.3rem;
}

.Label-module--root--54645 .Label-module--start--f8b67 {
  font-weight: var(--form-label-font-weight);
  font-size: var(--form-label-font-size);
}

.Label-module--root--54645.Label-module--bold--cca14 .Label-module--start--f8b67 {
  font-weight: var(--font-weight-bold);
}

.Label-module--end--6f9be {
  padding-left: var(--gutter);
}

.Label-module--end--6f9be > * {
    margin-top: 0;
  }

/**
 * Dirty indicator
 */

.Label-module--dirty--f69c9::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-secondary);
  border-radius: 999px;
  position: absolute;
  left: calc(var(--gutter)*-1);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/**
 * ButtonGroup
 */

.ButtonGroup-module--root--7044a {
  display: flex;
}

.ButtonGroup-module--alignCenter--f5032 {
  align-items: center;
}

/**
 * Horizontal
 */

.ButtonGroup-module--horizontal--8e6fc {
  flex-wrap: wrap;
}

.ButtonGroup-module--horizontal--8e6fc > * {
    flex-shrink: 0;
  }

/**
   * Spacing between
   */

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-small--be756 {
    margin-left: calc(var(--gutter)/-4);
    margin-right: calc(var(--gutter)/-4);
  }

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-small--be756 > * {
      margin-left: calc(var(--gutter)/4);
      margin-right: calc(var(--gutter)/4);
    }

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-medium--27e15 {
    margin-left: calc(var(--gutter)*-1);
    margin-right: calc(var(--gutter)*-1);
  }

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-medium--27e15 > * {
      margin-left: calc(var(--gutter)/2);
      margin-right: calc(var(--gutter)/2);
    }

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-large--1f005 {
    margin-left: calc(var(--gutter)*-0.875);
    margin-right: calc(var(--gutter)*-0.875);
  }

.ButtonGroup-module--horizontal--8e6fc.ButtonGroup-module--spacing-between-large--1f005 > * {
      margin-left: calc(var(--gutter)*0.875);
      margin-right: calc(var(--gutter)*0.875);
    }

/**
 * Vertical
 */

.ButtonGroup-module--vertical--93eab {
  flex-direction: column;
}

.ButtonGroup-module--vertical--93eab > * {
    justify-content: flex-start;
    margin-bottom: 0.2rem;
  }

.ButtonGroup-module--vertical--93eab > *:last-child {
      margin-bottom: 0;
    }

/**
 * Alert
 */

.Alert-module--root--a210e + .Alert-module--root--a210e {
  margin-top: var(--alert-stacked-margin-top);
}

.Alert-module--inner--fa5ab {
  min-height: var(--alert-min-height);
  font-size: var(--alert-font-size);
  display: flex;
  align-items: center;
  width: 100%;
  line-height: var(--alert-line-height);
  text-align: left;
  border-radius: var(--alert-border-radius);
  border: 1px solid;
}

.Alert-module--inner--fa5ab a,
  .Alert-module--inner--fa5ab button {
    font-size: inherit;
  }

[dir='rtl'] .Alert-module--inner--fa5ab {
  text-align: right;
}

/**
 * Content
 */

.Alert-module--content--5c0a4 {
  flex: 1 1;
  align-self: center;
  padding: var(--alert-padding-vertical) var(--alert-padding-horizontal);
}

.Alert-module--content--5c0a4 strong {
    font-weight: var(--font-weight-medium);
  }

/**
 * Icon
 */

.Alert-module--icon--a22ee {
  margin: 0 0 0 var(--alert-padding-horizontal);
  min-height: var(--alert-min-height);
  font-size: 0.9rem;
}

[dir='rtl'] .Alert-module--icon--a22ee {
  margin: 0 var(--alert-padding-horizontal);
}

/**
 * Appearances
 */

.Alert-module--appearance_default--f34bf {
  background-color: var(--alert-default-fill);
  color: var(--alert-default-color);
  border-color: var(--alert-default-border-color);
}

.Alert-module--appearance_error--eaa17 {
  background-color: var(--alert-error-fill);
  color: var(--alert-error-color);
  border-color: var(--alert-error-border-color);
}

.Alert-module--appearance_error--eaa17 .Alert-module--icon--a22ee svg {
    fill: var(--color-danger);
  }

.Alert-module--appearance_success--f72c6 {
  background-color: var(--alert-success-fill);
  color: var(--alert-success-color);
  border-color: var(--alert-success-border-color);
}

.Alert-module--appearance_success--f72c6 .Alert-module--icon--a22ee svg {
    fill: var(--color-success);
  }

.Alert-module--appearance_warning--c447d {
  background-color: var(--alert-warning-fill);
  color: var(--alert-warning-color);
  border-color: var(--alert-warning-border-color);
}

.Alert-module--appearance_warning--c447d .Alert-module--icon--a22ee svg {
    fill: var(--color-warning);
  }

/**
 * Transition
 */

.Alert-module--enter--2c52c {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.Alert-module--enterActive--347e3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, transform 200ms;
  transition: opacity 200ms, transform 200ms, -webkit-transform 200ms;
}

.Alert-module--exit--e18cc {
  opacity: 1;
}

.Alert-module--exitActive--15c79 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  transition: opacity 200ms, -webkit-transform 300ms;
  transition: opacity 200ms, transform 300ms;
  transition: opacity 200ms, transform 300ms, -webkit-transform 300ms;
}

/**
 * FormGroup
 */

.FormGroup-module--root--f5bae {
  position: relative;
}

.FormGroup-module--root--f5bae + .FormGroup-module--root--f5bae {
  margin-top: calc(var(--gutter)*2);
}

/**
 * Label
 */

.HelperText-module--root--91c88 {
  font-size: var(--helper-text-font-size);
  font-weight: var(--helper-text-font-weight);
  color: var(--helper-text-color);
  display: inline-flex;
  line-height: 1.35;
}

.HelperText-module--iconWrap--428bf {
  margin-right: 0.4rem;
}

.HelperText-module--error--1747b {
  color: var(--color-danger);
}

.HelperText-module--success--da5e9 {
  color: var(--color-success);
}

.HelperText-module--info--390ac {
  color: var(--color-info);
}

/**
 * Input
 */

.Input-module--root--74f0b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-base-fill);
  min-height: var(--input-min-height);
  font-size: var(--input-font-size);
  border-radius: var(--input-border-radius);
}

.Input-module--root--74f0b.Input-module--isFocused--be64a {
  border-color: var(--input-border-color-focus);
  background-color: var(--input-fill-focus);
}

.Input-module--input--50490 {
  border: 0;
  font-size: var(--input-font-size);
  width: 100%;
  min-height: var(--input-min-height);
  padding: 0 var(--input-field-horizontal-padding);
  outline: 0;
  flex: 1 1;
  background-color: transparent;
  min-width: 0;
  color: var(--input-color);
}

.Input-module--input--50490::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
  }

.Input-module--input--50490::placeholder {
    color: var(--input-placeholder-color);
  }

.Input-module--readOnly--41b56 {
  background-color: var(--gray-4);
  border-color: var(--input-border-color);
}

.Input-module--hasStartSection--645ff .Input-module--input--50490 {
  padding-left: 0;
}

.Input-module--hasEndSection--67c5b .Input-module--input--50490 {
  padding-right: 0;
}

.Input-module--input--50490[type='number']::-webkit-inner-spin-button,
.Input-module--input--50490[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
 * Inline label
 */

.Input-module--inlineLabel--ff0c0 {
  color: var(--color-figure-62);
  font-style: italic;
  padding: 0 0.25em;
  font-size: 0.95em;
}

/**
 * Start- and -end sections
 */

.Input-module--renderStart--24286,
.Input-module--renderEnd--a80cb {
  padding: 0 calc(var(--gutter)/2);
  height: 100%;
  display: flex;
  align-items: center;
}

/**
 * Disabled
 */

.Input-module--isDisabled--4a486,
.Input-module--root--74f0b input.Input-module--input--50490:disabled {
  background-color: var(--input-disabled-fill);
}

/**
 * Error
 */

.Input-module--error--9a927,
.Input-module--root--74f0b.Input-module--isFocused--be64a.Input-module--error--9a927 {
  border-color: var(--input-error-color);
  background-color: var(--input-error-fill);
}

/**
* Size
*/

.Input-module--root--74f0b.Input-module--sizeLarge--f349d {
  min-height: 3.3rem;
}

@media screen and (max-width: 500px) {
  .Input-module--root--74f0b.Input-module--sizeLarge--f349d {
    min-height: 2.5rem;
  }
}

.HubspotNewsletterForm-module--root--3b463 {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

button.HubspotNewsletterForm-module--businessModelButton--0f0a4 {
  min-width: 12rem;
  border-width: 1px;
  min-height: 3rem;
}

.HubspotNewsletterForm-module--form--a9da6 {
  text-align: center;
  width: 100%;
  max-width: 28rem;
  margin-top: 2rem;
}

.HubspotNewsletterForm-module--form__submitButton--5c12b {
  margin-top: 1.5rem;
  max-width: 22rem;
}

.HubspotNewsletterForm-module--error--9fc78 {
  margin-top: 1rem;
}

@media screen and (max-width: 635px) {
  div.HubspotNewsletterForm-module--businessModelButtons--19424 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .HubspotNewsletterForm-module--root--3b463 {
    max-width: 30rem;
    margin: auto;
  }

  .HubspotNewsletterForm-module--root--3b463 button.HubspotNewsletterForm-module--businessModelButton--0f0a4 {
    width: 100%;
    margin: 0;
  }

    .HubspotNewsletterForm-module--root--3b463 button.HubspotNewsletterForm-module--businessModelButton--0f0a4:not(:last-child) {
      margin-bottom: 1rem;
    }
}

/**
 * Sections -> Hero -> Layouts -> Left aligned CTA
 */

.LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 {
  display: flex;
  align-items: center;
  max-width: 1125px;
}

.LeftAlignedCTA-module--start--51701 {
  flex: 1 0;
  order: 1;
}

.LeftAlignedCTA-module--end--d23f4 {
  width: 100%;
  max-width: 400px;
  order: 2;
}

.LeftAlignedCTA-module--imagePosition__left--7009f .LeftAlignedCTA-module--start--51701 {
    order: 2;
    padding-left: calc(var(--gutter)*5);
  }

.LeftAlignedCTA-module--imagePosition__left--7009f .LeftAlignedCTA-module--end--d23f4 {
    order: 1;
  }

/**
 * Responsive
 */

@media screen and (min-width: 1000px) {
  .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 div.LeftAlignedCTA-module--start--51701 {
    flex: 1 0;
  }

    .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 div.LeftAlignedCTA-module--start--51701 > * {
      text-align: left;
      align-items: flex-start;
    }
}

@media screen and (max-width: 1000px) {
  .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 {
    flex-direction: column;
  }

  .LeftAlignedCTA-module--end--d23f4 {
    margin-top: var(--gutter);
  }

  .LeftAlignedCTA-module--root--00c7a div.LeftAlignedCTA-module--start--51701 {
    padding: var(--gutter) !important;
    order: 0;
  }
}

/**
* Media queries
*/

/* Universal */

/* Custom */

.SecondaryCTA-module--root--17f87 {
  text-align: center;
  margin: calc(var(--gutter)*4) 0;
}

@media (max-width: 500px) {
  .SecondaryCTA-module--root--17f87 {
    margin: calc(var(--gutter)*2.5) 0;
  }
}

/**
 * Pagebuilder -> sections -> Hero
 */

div.Hero-module--overflowHidden--f800f {
  overflow: hidden;
}

/**
 * Components -> CaseStudiesList
 */

.CaseStudiesList-module--root--ce7de {
  display: flex;
  flex-wrap: wrap;
  margin: var(--gutter) auto var(--gutter) auto;
}

.CaseStudiesList-module--item--a5593 {
  flex: 33.33333% 0;
  padding: calc(var(--gutter)*0.75);
}

.CaseStudiesList-module--item__inner--b251f {
  border-radius: var(--border-radius-small);
  display: flex;
  overflow: hidden;
  box-shadow: var(--box-shadow-small);
  position: relative;
}

@media screen and (max-width: 900px) {
  .CaseStudiesList-module--item--a5593 {
    flex: 50% 0;
  }
}

@media screen and (max-width: 600px) {
  .CaseStudiesList-module--root--ce7de {
    margin: 0 calc(var(--gutter)*-1);
  }

  .CaseStudiesList-module--item--a5593 {
    flex: 100% 1;
  }
}

