/**
 * Pagebuilder -> sections -> Bulletlist
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Bulletlist-module--wrapper--ae3ec {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: var(--gutter) 0;
}

.Bulletlist-module--container--d44b3 {
  max-width: 1100px;
}

.Bulletlist-module--desktopIllustration--ca6c7 {
  align-self: flex-start;
  width: 150px;
  flex-shrink: 0;
  top: -40px;
  position: relative;
}

.Bulletlist-module--mobileIllustration--e7530 {
  display: none;
  max-width: 130px;
  margin: calc(var(--gutter)*2) auto 0 auto;
}

.Bulletlist-module--center--4c032 {
  flex: 1 1;
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.Bulletlist-module--list--4a481 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.Bulletlist-module--list__item--cd9ca {
  position: relative;
  flex: 50% 1;
  margin-bottom: var(--gutter);
  padding-left: calc(var(--gutter)*2);
  font-size: 1rem;
}

.Bulletlist-module--list__item--cd9ca::before {
    content: '\2022';
    position: absolute;
    font-size: 1.5em;
    color: var(--color-secondary);
    line-height: 0.98;
    top: 0;
    font-weight: bold;
    left: 0.6em;
  }

/**
 * Responsive
 */

@media (max-width: 1024px) {
  .Bulletlist-module--container--d44b3 {
    max-width: 760px;
  }
  .Bulletlist-module--list__item--cd9ca {
    flex: 100% 1;
  }
  .Bulletlist-module--list--4a481 {
    display: inline-block;
  }
  .Bulletlist-module--center--4c032 {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .Bulletlist-module--list--4a481 {
    padding: 0;
  }
  .Bulletlist-module--desktopIllustration--ca6c7 {
    display: none;
  }
  .Bulletlist-module--mobileIllustration--e7530 {
    display: block;
  }
}

/**
 * Pagebuilder -> sections -> Cards
 */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.Cards-module--root--da7a1 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* Moves the next column down below the current column */

.Cards-module--lineBreak--24244 {
  flex-basis: 100%;
  height: 0;
}

/* Gutter size */

.Cards-module--gutterSizeExtraSmall--bf8fc {
  margin-top: calc(var(--gutter)*0.75*-0.25);
  margin-top: calc(var(--cards-gutter-size-small)*-0.25);
}

.Cards-module--gutterSizeSmall--a367b {
  margin-top: calc(var(--gutter)*0.75*-0.5);
  margin-top: calc(var(--cards-gutter-size-small)*-0.5);
}

.Cards-module--gutterSizeMedium--5480c {
  margin-top: calc(var(--gutter)*1.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-medium)*-0.5);
}

.Cards-module--gutterSizeLarge--e4338 {
  margin-top: calc(var(--gutter)*2.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-large)*-0.5);
}

/* Gutter Max Width */

.Cards-module--maxWidthDefault--043a0 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
}

.Cards-module--maxWidthSmall--620fe {
  max-width: 45rem;
  max-width: var(--cards-max-width-small);
}

.Cards-module--maxWidthMedium--b1ed8 {
  max-width: 64rem;
  max-width: var(--cards-max-width-medium);
}

.Cards-module--maxWidthLarge--05718 {
  max-width: 100%;
  max-width: var(--cards-max-width-large);
}

/**
 * Sections -> Cards -> CardItem
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.CardItem-module--root--90810 {
  flex-grow: 0;
  outline: 0;
}

.CardItem-module--inner--650d0 {
  padding: var(--gutter);
  height: 100%;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  color: var(--color-text-default);
  position: relative;
}

/* Flippable */

.CardItem-module--isFlippable--d8cb4 {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.CardItem-module--isFlippable--d8cb4 .CardItem-module--inner--650d0 {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

.CardItem-module--isFlippable--d8cb4 .CardItem-module--badge--ca612 {
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
  }

/* Only touch devices */

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 {
  position: relative;
  z-index: 50;
}

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
      opacity: 0;
      transition-delay: 0.1s;
    }

/* Non-touch devices */

@media (hover: hover) {
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus {
    position: relative;
    z-index: 50;
  }

    .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }

      .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
        opacity: 0;
        transition-delay: 0.1s;
      }
}

.CardItem-module--flippableBackside--09dd3 {
  border-radius: var(--border-radius-medium);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--gutter);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.CardItem-module--flippableBackside__content--095bc {
  flex: 1 1;
  display: flex;
  align-items: center;
  padding: 0 2rem 2rem;
  line-height: 1.65;
  text-align: center;
}

/* Badge */

.CardItem-module--badge--ca612 {
  position: absolute;
  top: 0;
}

.CardItem-module--badge--ca612 img {
    width: 8rem;
    height: 3.5rem;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 {
    left: 0;
    -webkit-transform: translate(-35%, -25%);
            transform: translate(-35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b {
    right: 0;
    -webkit-transform: translate(35%, -25%);
            transform: translate(35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b img {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b {
    top: auto;
    right: -1.4rem;
    bottom: 0;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

/* Content */

.CardItem-module--content--2b436 {
  text-align: center;
  padding: calc(var(--gutter)*1.25) calc(var(--gutter)/2) var(--gutter) calc(var(--gutter)/2);
}

.CardItem-module--content--2b436 .CardItem-module--content__title--d0397 {
  line-height: 1.3;
}

.CardItem-module--content--2b436 .CardItem-module--content__description--b23d2 {
  margin-top: calc(var(--gutter)/2);
  padding: 0 var(--gutter);
  line-height: 1.55;
}

/* Gutter */

.CardItem-module--gutterSizeExtraSmall--9b0d7 {
  padding: 0.25rem;
}

.CardItem-module--gutterSizeSmall--7b676 {
  padding: calc(var(--gutter)*0.75);
  padding: var(--cards-gutter-size-small);
}

.CardItem-module--gutterSizeMedium--b086d {
  padding: calc(var(--gutter)*1.5);
  padding: var(--cards-gutter-size-medium);
}

.CardItem-module--gutterSizeLarge--3ae74 {
  padding: calc(var(--gutter)*2.5);
  padding: var(--cards-gutter-size-large);
}

/* Width */

.CardItem-module--widthFull--9d50e {
  flex: 100% 0;
  min-height: 350px;
}

.CardItem-module--widthHalf--a424a {
  flex: 50% 0;
}

.CardItem-module--widthThird--beacb {
  min-width: 250px;
  flex: 33.3333% 0;
}

@media screen and (max-width: 950px) {
  .CardItem-module--widthThird--beacb {
    flex: 50% 0;
  }
}

.CardItem-module--widthFifth--c4aa2 {
  flex: 20% 0;
}

/* Padding */

div.CardItem-module--paddingSmall--74219 {
  padding: 0.5rem;
}

div.CardItem-module--paddingMedium--27c66 {
  padding: 1rem;
}

div.CardItem-module--paddingLarge--d6499 {
  padding: 1.5rem;
}

/* Background */

.CardItem-module--backgroundColorWhite--619d5 {
  background-color: var(--color-fill-default);
}

.CardItem-module--backgroundColorGray--8268a {
  background-color: var(--color-gray-5);
}

/* Box shadow */

.CardItem-module--boxShadowSmall--dba69 {
  box-shadow: var(--box-shadow-small);
}

.CardItem-module--boxShadowMedium--01b4f {
  box-shadow: var(--box-shadow-medium);
}

.CardItem-module--boxShadowLarge--8c988 {
  box-shadow: var(--box-shadow-large);
}

/* Image */

.CardItem-module--image--1b9ad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.CardItem-module--image__positioner--dac93 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gutter) 0;
}

.CardItem-module--image__inner--f397a {
  width: 100%;
}

.CardItem-module--imageSizeZoomed--0de6a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 0;
  margin-top: var(--gutter);
}

.CardItem-module--imageSizeSmall--236c8 {
  max-width: 40%;
}

.CardItem-module--imageSizeMedium--64e2a {
  max-width: 60%;
}

.CardItem-module--imageSizeLarge--6d8ed {
  max-width: 36rem;
}

.CardItem-module--imageSizeFull--e1341 {
  width: 100%;
  padding: 0;
}

/* Image position */

.CardItem-module--imagePositionAbove--847f8 {
  flex-direction: column-reverse;
}

@media (min-width: 767px) {
  .CardItem-module--imagePositionLeft--5b300,
  .CardItem-module--imagePositionRight--bbe2d {
    flex-direction: row;
    align-items: center;
  }

    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--content--2b436,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--content--2b436,
    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--image--1b9ad,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--image--1b9ad {
      width: 50%;
    }
}

/* Description position */

.CardItem-module--descriptionPositionBelowImage--c7700 .CardItem-module--content__description--b23d2 {
  margin-bottom: 1rem;
}

/* Bullet points */

.CardItem-module--bulletPoints--5dc9f {
  text-align: center;
  margin: 1rem 0;
}

.CardItem-module--bulletPoints--5dc9f li {
    margin-top: 0.75rem;
  }

/**
 * Responsive
 */

@media screen and (max-width: 1130px) {
  .CardItem-module--widthFifth--c4aa2 {
    flex: 33.3333% 0;
  }
}

@media (max-width: 1024px) {
  div.CardItem-module--inner--650d0 {
    padding: 0;
  }

    div.CardItem-module--inner--650d0.CardItem-module--paddingSmall--74219 {
      padding: 0.25rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingMedium--27c66 {
      padding: 0.5rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingLarge--d6499 {
      padding: 1rem;
    }

  .CardItem-module--gutterSizeLarge--3ae74 {
    padding: calc(var(--gutter)*1.5);
    padding: var(--cards-gutter-size-medium);
  }
}

@media (max-width: 767px) {
  .CardItem-module--root--90810 {
    flex: 100% 0;
    max-width: 525px;
    padding: calc(var(--gutter)*2) var(--gutter);
  }

  .CardItem-module--imageSizeZoomed--0de6a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .CardItem-module--widthFull--9d50e {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .CardItem-module--badge--ca612 img {
    height: 3rem;
  }
}

@media (max-width: 500px) {
  .CardItem-module--badge--ca612 {
    position: static;
    -webkit-transform: none !important;
            transform: none !important;
    margin: calc(var(--gutter)*-1.8) auto 0 auto;
  }

    .CardItem-module--badge--ca612 img {
      -webkit-transform: none !important;
              transform: none !important;
    }
}

/**
* Custom layout changes
*/

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--image--1b9ad {
    padding: 0 calc(var(--gutter)*2);
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--content__description--b23d2 {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--inner--650d0 {
    padding: var(--gutter);
  }

/* & .content {
    flex: 1;
  } */

.CardItem-module--root--90810.layout--service_page_card .CardItem-module--image--1b9ad {
    height: auto;
  }

/**
 * Pagebuilder -> sections -> FAQ
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.FAQ-module--illustration--ed1ef {
  max-width: 300px;
  margin: auto;
  display: block;
  margin: calc(var(--gutter)*2) auto;
}

.FAQ-module--questions--795ac {
  max-width: 900px;
  margin: auto;
}

.FAQ-module--questions__item--4672c {
  display: flex;
  margin-bottom: calc(var(--gutter)*2.5);
}

div.FAQ-module--questions__item__answer--14873 {
  line-height: 1.5;
}

div.FAQ-module--questions__item__answer--14873 p {
    margin-bottom: calc(var(--gutter)/2);
  }

.FAQ-module--questions__item__header--554b0 {
  display: flex;
}

.FAQ-module--questions__item__number--5baf2 {
  width: calc(var(--gutter)*3.5);
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .FAQ-module--questions__item__number--5baf2 {
    width: calc(var(--gutter)*2.5);
  }
}

@media (max-width: 500px) {
  .FAQ-module--illustration--ed1ef {
    max-width: 160px;
  }
}

/**
 * Pagebuilder -> sections -> GrapplingHook
 */

.GrapplingHook-module--section--cb0e3 {
  z-index: 100;
}

.GrapplingHook-module--mobileImage--a819d {
  max-width: 550px;
  padding: 0 calc(var(--gutter)*3);
  margin: 2rem auto 4rem auto;
}

/* :root {
  --illustration-width: 225px;
}

.section {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  align-items: flex-end;
}

.wrapper {
  padding-top: 75%;
  width: 100%;
  position: relative;
}

.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.hook {
  position: absolute;
  left: 10%;
  bottom: 50%;
  width: 6%;
  transition: top 0.5s;

  & img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.hook__leftClaw,
.hook__rightClaw {
  position: absolute;
  margin-top: -85%;
  width: 100%;
  transform-origin: top center;
  z-index: -1;
  transition: transform 0.2s;
}

.hook__rightClaw {
  left: 25%;
  transform: rotate(-15deg);
}

.hook__leftClaw {
  left: -25%;
  transform: rotate(15deg);
}

.box {
  position: absolute;
  padding-bottom: 17.13%;
  bottom: 2px;
  left: 4%;
  width: 45%;

  & img {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.box__bottom {
  z-index: 10;
}

.box__left,
.box__right {
  width: 50%;
  bottom: 127%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}

.box__left {
  left: -7.4%;
  z-index: -1;
}

.box__right {
  right: -7.8%;
  z-index: 10;
}

.objects__item {
  position: absolute;
  width: 24%;
  opacity: 0;
  margin-top: 100%;
  transition: opacity 0.2s;

  &:nth-child(1) .objects__item__illustration {
    transition-delay: 0.1s;
  }
  &:nth-child(2) .objects__item__illustration {
    transition-delay: 0.15s;
  }
  &:nth-child(3) .objects__item__illustration {
    transition-delay: 0.2s;
  }
  &:nth-child(4) .objects__item__illustration {
    transition-delay: 0.4s;
  }
  &:nth-child(5) .objects__item__illustration {
    transition-delay: 0.1s;
  }
  &:nth-child(6) .objects__item__illustration {
    transition-delay: 0.3s;
  }
  &:nth-child(7) .objects__item__illustration {
    transition-delay: 0.25s;
  }
}

.objects__item__illustration {
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.5s;
}

/**
 * Animations
 */

/* .animateBox {
  & .box__left,
  & .box__right {
    opacity: 1;
  }
  & .box__left {
    transition-delay: 0.2s;
  }
}

.animatePeopleIn {
  & .objects__item {
    opacity: 1;
    margin-top: 0;
  }
  & .objects__item__illustration {
    transform: translateY(0);
  }
}

.animateShakeBox {
  & .box__bottom {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

.animateClawClose {
  & .hook__rightClaw,
  & .hook__leftClaw {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1070px) {
  .wrapper {
    padding-top: 0;
  }

  .header {
    position: static;
    margin-top: calc(var(--gutter) * 3);
  }

  .hook {
    display: none;
  }

  .wrap {
    position: relative;
    max-height: 40vw;
  }

  .inner {
    position: relative;
    width: 100%;
    padding-top: 70%;
    transform: translate(23%, -39.3%);
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    height: 200px;
    width: 270px;
    margin: auto;
    max-height: 100%;
  }
  .inner {
    width: 510px;
    padding-top: 0;
    transform: translate(0%, -38.8%);
    height: 330px;
  }
}  */

/**
 * Pagebuilder -> sections -> ImageWithCaptions
 */

.ImageWithCaptions-module--wrap--7e8d5 {
  margin: auto;
  position: relative;
  max-width: 1200px;
}

.ImageWithCaptions-module--landingpage--03372 {
  max-width: 700px;
  margin: auto;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  overflow: hidden;
  border: 1px solid var(--color-border-1);
}

.ImageWithCaptions-module--landingpage__top--f3ab9 {
  height: 22px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-1);

  /* Dots */
}

.ImageWithCaptions-module--landingpage__top--f3ab9 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 999px;
    margin-left: 10px;
  }

.ImageWithCaptions-module--landingpage__bottom--47687 {
  position: relative;
}

.ImageWithCaptions-module--landingpage__bottom__inner--86f9d {
  display: flex;
  background-color: var(--color-fill-skeleton);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ImageWithCaptions-module--screenshot--9258c {
  overflow: hidden;
  position: relative;
  padding-top: 60%;
}

.ImageWithCaptions-module--screenshot__img--f6d3f {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 25;
  opacity: 0;
  transition: opacity 0.1s;
}

.ImageWithCaptions-module--placeholder__image--938a7 {
  opacity: 1;
  transition: opacity 0.1s;
}

/**
 * Screenshot loaded
 */

.ImageWithCaptions-module--screenshotLoaded--6b24c .ImageWithCaptions-module--placeholder__image--938a7 {
    opacity: 0;
  }

.ImageWithCaptions-module--screenshotLoaded--6b24c .ImageWithCaptions-module--screenshot__img--f6d3f {
    opacity: 1;
  }

.ImageWithCaptions-module--buttonWrap--7a483 {
  padding: 0 var(--gutter);
  display: flex;
  justify-content: center;
  margin-top: calc(var(--gutter)*4);
}

/**
 * Pagebuilder -> sections -> Mentions
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Mentions-module--root--f82e3 a {
    transition: opacity 0.1s;
    display: block;
  }

@media (hover: hover) {
      .Mentions-module--root--f82e3 a:hover {
        opacity: 0.8;
      }
      .Mentions-module--root--f82e3 a:active {
        opacity: 1;
      }
    }

/**
 * Layout: glassdoor_linkedin_love (Equation)
 */

.Mentions-module--equation--f9b59 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.Mentions-module--equation--f9b59:active {
    opacity: 0.95;
  }

.Mentions-module--equation--f9b59 img {
    width: 100%;
  }

.Mentions-module--equation__linkedin--f8d5a {
  flex: 50% 1;
}

.Mentions-module--equation__glassdoor--5affc {
  flex: 28% 1;
}

.Mentions-module--equation__heart--c41e2 {
  flex: 15% 1;
}

.Mentions-module--equation__symbol--8b945 {
  font-size: 2.2rem;
  opacity: 0.4;
  margin: 0 5%;
}

/**
 * Layout: review_services (Reviews)
 */

.Mentions-module--reviewServices--e74f6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--gutter) 0;
  flex-wrap: wrap;
}

.Mentions-module--reviewServices__logo--cf830 {
  margin: var(--gutter);
}

.Mentions-module--reviewServices__logo--cf830:first-child {
    margin-left: 0;
  }

.Mentions-module--reviewServices__logo--cf830:last-child {
    margin-right: 0;
  }

.Mentions-module--reviewServices__logo--cf830 img {
  height: 2.5rem;
}

@media (max-width: 500px) {
  .Mentions-module--reviewServices__logo--cf830 img {
    height: 1.8rem;
  }
}

