/**
 * Pagebuilder -> sections -> Cards
 */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.Cards-module--root--da7a1 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* Moves the next column down below the current column */

.Cards-module--lineBreak--24244 {
  flex-basis: 100%;
  height: 0;
}

/* Gutter size */

.Cards-module--gutterSizeExtraSmall--bf8fc {
  margin-top: calc(var(--gutter)*0.75*-0.25);
  margin-top: calc(var(--cards-gutter-size-small)*-0.25);
}

.Cards-module--gutterSizeSmall--a367b {
  margin-top: calc(var(--gutter)*0.75*-0.5);
  margin-top: calc(var(--cards-gutter-size-small)*-0.5);
}

.Cards-module--gutterSizeMedium--5480c {
  margin-top: calc(var(--gutter)*1.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-medium)*-0.5);
}

.Cards-module--gutterSizeLarge--e4338 {
  margin-top: calc(var(--gutter)*2.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-large)*-0.5);
}

/* Gutter Max Width */

.Cards-module--maxWidthDefault--043a0 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
}

.Cards-module--maxWidthSmall--620fe {
  max-width: 45rem;
  max-width: var(--cards-max-width-small);
}

.Cards-module--maxWidthMedium--b1ed8 {
  max-width: 64rem;
  max-width: var(--cards-max-width-medium);
}

.Cards-module--maxWidthLarge--05718 {
  max-width: 100%;
  max-width: var(--cards-max-width-large);
}

/**
 * Sections -> Cards -> CardItem
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.CardItem-module--root--90810 {
  flex-grow: 0;
  outline: 0;
}

.CardItem-module--inner--650d0 {
  padding: var(--gutter);
  height: 100%;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  color: var(--color-text-default);
  position: relative;
}

/* Flippable */

.CardItem-module--isFlippable--d8cb4 {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.CardItem-module--isFlippable--d8cb4 .CardItem-module--inner--650d0 {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

.CardItem-module--isFlippable--d8cb4 .CardItem-module--badge--ca612 {
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
  }

/* Only touch devices */

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 {
  position: relative;
  z-index: 50;
}

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
      opacity: 0;
      transition-delay: 0.1s;
    }

/* Non-touch devices */

@media (hover: hover) {
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus {
    position: relative;
    z-index: 50;
  }

    .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }

      .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
        opacity: 0;
        transition-delay: 0.1s;
      }
}

.CardItem-module--flippableBackside--09dd3 {
  border-radius: var(--border-radius-medium);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--gutter);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.CardItem-module--flippableBackside__content--095bc {
  flex: 1 1;
  display: flex;
  align-items: center;
  padding: 0 2rem 2rem;
  line-height: 1.65;
  text-align: center;
}

/* Badge */

.CardItem-module--badge--ca612 {
  position: absolute;
  top: 0;
}

.CardItem-module--badge--ca612 img {
    width: 8rem;
    height: 3.5rem;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 {
    left: 0;
    -webkit-transform: translate(-35%, -25%);
            transform: translate(-35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b {
    right: 0;
    -webkit-transform: translate(35%, -25%);
            transform: translate(35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b img {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b {
    top: auto;
    right: -1.4rem;
    bottom: 0;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

/* Content */

.CardItem-module--content--2b436 {
  text-align: center;
  padding: calc(var(--gutter)*1.25) calc(var(--gutter)/2) var(--gutter) calc(var(--gutter)/2);
}

.CardItem-module--content--2b436 .CardItem-module--content__title--d0397 {
  line-height: 1.3;
}

.CardItem-module--content--2b436 .CardItem-module--content__description--b23d2 {
  margin-top: calc(var(--gutter)/2);
  padding: 0 var(--gutter);
  line-height: 1.55;
}

/* Gutter */

.CardItem-module--gutterSizeExtraSmall--9b0d7 {
  padding: 0.25rem;
}

.CardItem-module--gutterSizeSmall--7b676 {
  padding: calc(var(--gutter)*0.75);
  padding: var(--cards-gutter-size-small);
}

.CardItem-module--gutterSizeMedium--b086d {
  padding: calc(var(--gutter)*1.5);
  padding: var(--cards-gutter-size-medium);
}

.CardItem-module--gutterSizeLarge--3ae74 {
  padding: calc(var(--gutter)*2.5);
  padding: var(--cards-gutter-size-large);
}

/* Width */

.CardItem-module--widthFull--9d50e {
  flex: 100% 0;
  min-height: 350px;
}

.CardItem-module--widthHalf--a424a {
  flex: 50% 0;
}

.CardItem-module--widthThird--beacb {
  min-width: 250px;
  flex: 33.3333% 0;
}

@media screen and (max-width: 950px) {
  .CardItem-module--widthThird--beacb {
    flex: 50% 0;
  }
}

.CardItem-module--widthFifth--c4aa2 {
  flex: 20% 0;
}

/* Padding */

div.CardItem-module--paddingSmall--74219 {
  padding: 0.5rem;
}

div.CardItem-module--paddingMedium--27c66 {
  padding: 1rem;
}

div.CardItem-module--paddingLarge--d6499 {
  padding: 1.5rem;
}

/* Background */

.CardItem-module--backgroundColorWhite--619d5 {
  background-color: var(--color-fill-default);
}

.CardItem-module--backgroundColorGray--8268a {
  background-color: var(--color-gray-5);
}

/* Box shadow */

.CardItem-module--boxShadowSmall--dba69 {
  box-shadow: var(--box-shadow-small);
}

.CardItem-module--boxShadowMedium--01b4f {
  box-shadow: var(--box-shadow-medium);
}

.CardItem-module--boxShadowLarge--8c988 {
  box-shadow: var(--box-shadow-large);
}

/* Image */

.CardItem-module--image--1b9ad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.CardItem-module--image__positioner--dac93 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gutter) 0;
}

.CardItem-module--image__inner--f397a {
  width: 100%;
}

.CardItem-module--imageSizeZoomed--0de6a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 0;
  margin-top: var(--gutter);
}

.CardItem-module--imageSizeSmall--236c8 {
  max-width: 40%;
}

.CardItem-module--imageSizeMedium--64e2a {
  max-width: 60%;
}

.CardItem-module--imageSizeLarge--6d8ed {
  max-width: 36rem;
}

.CardItem-module--imageSizeFull--e1341 {
  width: 100%;
  padding: 0;
}

/* Image position */

.CardItem-module--imagePositionAbove--847f8 {
  flex-direction: column-reverse;
}

@media (min-width: 767px) {
  .CardItem-module--imagePositionLeft--5b300,
  .CardItem-module--imagePositionRight--bbe2d {
    flex-direction: row;
    align-items: center;
  }

    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--content--2b436,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--content--2b436,
    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--image--1b9ad,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--image--1b9ad {
      width: 50%;
    }
}

/* Description position */

.CardItem-module--descriptionPositionBelowImage--c7700 .CardItem-module--content__description--b23d2 {
  margin-bottom: 1rem;
}

/* Bullet points */

.CardItem-module--bulletPoints--5dc9f {
  text-align: center;
  margin: 1rem 0;
}

.CardItem-module--bulletPoints--5dc9f li {
    margin-top: 0.75rem;
  }

/**
 * Responsive
 */

@media screen and (max-width: 1130px) {
  .CardItem-module--widthFifth--c4aa2 {
    flex: 33.3333% 0;
  }
}

@media (max-width: 1024px) {
  div.CardItem-module--inner--650d0 {
    padding: 0;
  }

    div.CardItem-module--inner--650d0.CardItem-module--paddingSmall--74219 {
      padding: 0.25rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingMedium--27c66 {
      padding: 0.5rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingLarge--d6499 {
      padding: 1rem;
    }

  .CardItem-module--gutterSizeLarge--3ae74 {
    padding: calc(var(--gutter)*1.5);
    padding: var(--cards-gutter-size-medium);
  }
}

@media (max-width: 767px) {
  .CardItem-module--root--90810 {
    flex: 100% 0;
    max-width: 525px;
    padding: calc(var(--gutter)*2) var(--gutter);
  }

  .CardItem-module--imageSizeZoomed--0de6a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .CardItem-module--widthFull--9d50e {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .CardItem-module--badge--ca612 img {
    height: 3rem;
  }
}

@media (max-width: 500px) {
  .CardItem-module--badge--ca612 {
    position: static;
    -webkit-transform: none !important;
            transform: none !important;
    margin: calc(var(--gutter)*-1.8) auto 0 auto;
  }

    .CardItem-module--badge--ca612 img {
      -webkit-transform: none !important;
              transform: none !important;
    }
}

/**
* Custom layout changes
*/

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--image--1b9ad {
    padding: 0 calc(var(--gutter)*2);
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--content__description--b23d2 {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--inner--650d0 {
    padding: var(--gutter);
  }

/* & .content {
    flex: 1;
  } */

.CardItem-module--root--90810.layout--service_page_card .CardItem-module--image--1b9ad {
    height: auto;
  }

/**
 * Pagebuilder -> sections -> FAQ
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.FAQ-module--illustration--ed1ef {
  max-width: 300px;
  margin: auto;
  display: block;
  margin: calc(var(--gutter)*2) auto;
}

.FAQ-module--questions--795ac {
  max-width: 900px;
  margin: auto;
}

.FAQ-module--questions__item--4672c {
  display: flex;
  margin-bottom: calc(var(--gutter)*2.5);
}

div.FAQ-module--questions__item__answer--14873 {
  line-height: 1.5;
}

div.FAQ-module--questions__item__answer--14873 p {
    margin-bottom: calc(var(--gutter)/2);
  }

.FAQ-module--questions__item__header--554b0 {
  display: flex;
}

.FAQ-module--questions__item__number--5baf2 {
  width: calc(var(--gutter)*3.5);
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .FAQ-module--questions__item__number--5baf2 {
    width: calc(var(--gutter)*2.5);
  }
}

@media (max-width: 500px) {
  .FAQ-module--illustration--ed1ef {
    max-width: 160px;
  }
}

/**
 * Components -> LoopingVideo
 */

.LoopingVideo-module--root--24450 {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-filter: contrast(0.98);
          filter: contrast(0.98);
}

.LoopingVideo-module--video--b10c2 {
  position: absolute;
  z-index: 2;
  width: 101%;
  height: 101%;
}

.LoopingVideo-module--isPlaying--c45ec .LoopingVideo-module--placeholder--86dde {
  visibility: hidden;
}

/**
 * Pagebuilder -> sections -> Showcase
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Showcase-module--section--95d19 {
  overflow: hidden;
  padding: 0 calc(var(--gutter)*2);
}

.Showcase-module--items--66e7d {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.Showcase-module--item--4bc9c {
  flex: 50% 1;
  padding: calc(var(--gutter)*3.5) calc(var(--gutter)*4);
  pointer-events: none;
}

.Showcase-module--item__inner--fa2ee {
  position: relative;
}

.Showcase-module--item__videos__video--9a541 {
  box-shadow: var(--box-shadow-small);
}

@media (max-width: 767px) {
  .Showcase-module--item__videos--24589 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: calc(var(--gutter)*-2);
    margin-top: -40%;
  }

  .Showcase-module--item__videos__video--9a541 {
    flex: 33.3333% 1;
    position: relative;
  }

  .Showcase-module--item__videos__video--9a541:nth-child(3) {
    -webkit-transform: translateY(calc(var(--gutter)*-3));
            transform: translateY(calc(var(--gutter)*-3));
  }

  .Showcase-module--item__videos__video--9a541:nth-child(2) {
    -webkit-transform: translateY(calc(var(--gutter)*-2));
            transform: translateY(calc(var(--gutter)*-2));
    left: -1rem;
  }

  .Showcase-module--item__videos__video--9a541:nth-child(1) {
    -webkit-transform: translateY(calc(var(--gutter)*-1));
            transform: translateY(calc(var(--gutter)*-1));
    left: -2rem;
  }
}

@media (min-width: 767px) {
  .Showcase-module--item__videos__video--9a541 {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
  }

  .Showcase-module--item__videos__video--9a541:nth-child(1) {
    top: 50%;
    right: 5%;
    z-index: 2;
  }

  .Showcase-module--item__videos__video--9a541:nth-child(2) {
    top: 35%;
    right: -22%;
    z-index: 3;
  }

  .Showcase-module--item__videos__video--9a541:nth-child(3) {
    top: 8%;
    right: -10%;
    z-index: 1;
  }
}

/**
 * Responsive
 */

@media (max-width: 1024px) {
  .Showcase-module--item--4bc9c {
    padding: calc(var(--gutter)*2);
  }
}

@media (max-width: 767px) {
  .Showcase-module--section--95d19 {
    padding: 0;
  }

  .Showcase-module--item--4bc9c {
    padding: var(--gutter);
    flex: 100% 1;
    margin-bottom: calc(var(--gutter)*2);
  }
}

