/**
 * Shared CSS -> Links
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

:root {
  --spacing-small: 1.5rem;
  --spacing-medium: 3rem;
  --spacing-large: 6rem;
  --spacing-extra-large: 8.5rem;
}

/* Padding */

.spacing-module--control--34ba4.spacing-module--padding_top_none--40322 {
    padding-top: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_top_small--e821d {
    padding-top: 1.5rem;
    padding-top: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
    padding-top: 3rem;
    padding-top: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
    padding-top: 6rem;
    padding-top: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
    padding-top: 8.5rem;
    padding-top: var(--spacing-extra-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_none--291df {
    padding-bottom: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_small--052a0 {
    padding-bottom: 1.5rem;
    padding-bottom: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
    padding-bottom: 3rem;
    padding-bottom: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
    padding-bottom: 6rem;
    padding-bottom: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
    padding-bottom: 8.5rem;
    padding-bottom: var(--spacing-extra-large);
  }

@media (max-width: 767px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
      padding-top: 2.4rem;
      padding-top: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
      padding-top: 4.8rem;
      padding-top: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 6.8rem;
      padding-top: calc(var(--spacing-extra-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
      padding-bottom: 2.4rem;
      padding-bottom: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
      padding-bottom: 4.8rem;
      padding-bottom: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-bottom: 6.8rem;
      padding-bottom: calc(var(--spacing-extra-large)*0.8);
    }
}

@media screen and (max-width: 600px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }
}

/**
 * Pagebuilder -> components -> CTA
 */

.CTA-module--root--82fdd {
  position: relative;
  z-index: 50;
  text-align: center;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.CTA-module--labelBelow--c9682 {
  padding: 0 calc(var(--gutter)/2);
}

.CTA-module--isLink--7ca79 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

/**
 * Pagebuilder -> components -> Header
 */

div.Header-module--root--93271 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: calc(var(--gutter)*2);
}

.Header-module--root--93271 .Header-module--sub--4ed10 {
  line-height: 1.45;
  width: 100%;
}

.Header-module--root--93271 .Header-module--sub__link--7a7cc {
  font-weight: var(--font-weight-bold);
}

.Header-module--root--93271 .Header-module--title--00d76 {
  width: 100%;
  position: relative;
  letter-spacing: -0.05em;
}

/**
 * Badge
 */

.Header-module--badge--b86e6 {
  width: 100px;
  margin: 0 auto var(--gutter) auto;
}

.Header-module--badge--b86e6 img {
    width: 100%;
  }

@media screen and (min-width: 600px) {
  .Header-module--badge--b86e6 {
    position: absolute;
    -webkit-transform: translate(-75%, -75%);
            transform: translate(-75%, -75%);
    margin: 0;
  }
}

/**
 * Pagebuilder -> components -> Section
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Section-module--root--93447 {
  background-color: var(--color-fill-default);
  position: relative;
  z-index: 2;
}

.Section-module--floatOnTop--b9422 {
  z-index: 50;
}

/* Text color */

.Section-module--text_color_light--35b3d {
  color: var(--color-text-light);
}

.Section-module--text_color_dark--3d1a3 {
  color: var(--color-text-default);
}

/* Background Colors */

.Section-module--background_color_lightgray_fade_white--3789b {
  background: linear-gradient(0deg, #fff 0%, var(--color-gray-5) 100%);
}

.Section-module--background_color_lightgray--2992e {
  background-color: var(--color-gray-5);
}

.Section-module--background_color_purple--56d29 {
  background-color: var(--color-zoltad-purple);
  color: #fff;
}

.Section-module--background_color_dark_green--2ca9f {
  background-color: var(--color-summit-green);
  color: #fff;
}

.Section-module--background_color_light_blue--98002 {
  background-color: var(--color-light-blue);
}

.Section-module--background_color_yellow--29642 {
  background-color: var(--color-yellow);
}

/* Page Rip */

.Section-module--hasPageRip--4dd69 {
  z-index: 1;
}

.Section-module--pageRip--36de0 {
  position: absolute;
  height: 75px;
  left: 0;
  right: 0;
  pointer-events: none;
  background-repeat: repeat-x;
  background-size: 1600px 80px;
  z-index: 20;
  background-position-x: center;
  background-image: url(/static/page-rip-white-aa7277d19f705d05534e6a2fd1f3b8d8.png);
}

.Section-module--pageRip--36de0.Section-module--grayFill--12861 {
    background-image: url(/static/page-rip-gray-4e719f7e7600660c24b3e32a1d833af5.png);
  }

.Section-module--pageRip--36de0.Section-module--top--f4108 {
    top: -30px;
    background-position-y: bottom;
  }

.Section-module--pageRip--36de0.Section-module--bottom--8c28a {
    bottom: -45px;
    background-position-y: top;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

/**
 * Responsive
 */

@media (max-width: 500px) {
  .Section-module--pageRip--36de0 {
    background-size: 200px 90px;
    background-image: url(/static/page-rip-white-mobile-55bbafc70626ec518e32845f72ec2eef.png);
  }

    .Section-module--pageRip--36de0.Section-module--grayFill--12861 {
      background-image: url(/static/page-rip-gray-mobile-61e5e60262b4aab71ae963600a2dd84b.png);
    }
}

/**
 * Pagebuilder -> sections -> Cards
 */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.Cards-module--root--da7a1 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* Moves the next column down below the current column */

.Cards-module--lineBreak--24244 {
  flex-basis: 100%;
  height: 0;
}

/* Gutter size */

.Cards-module--gutterSizeExtraSmall--bf8fc {
  margin-top: calc(var(--gutter)*0.75*-0.25);
  margin-top: calc(var(--cards-gutter-size-small)*-0.25);
}

.Cards-module--gutterSizeSmall--a367b {
  margin-top: calc(var(--gutter)*0.75*-0.5);
  margin-top: calc(var(--cards-gutter-size-small)*-0.5);
}

.Cards-module--gutterSizeMedium--5480c {
  margin-top: calc(var(--gutter)*1.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-medium)*-0.5);
}

.Cards-module--gutterSizeLarge--e4338 {
  margin-top: calc(var(--gutter)*2.5*-0.5);
  margin-top: calc(var(--cards-gutter-size-large)*-0.5);
}

/* Gutter Max Width */

.Cards-module--maxWidthDefault--043a0 {
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
}

.Cards-module--maxWidthSmall--620fe {
  max-width: 45rem;
  max-width: var(--cards-max-width-small);
}

.Cards-module--maxWidthMedium--b1ed8 {
  max-width: 64rem;
  max-width: var(--cards-max-width-medium);
}

.Cards-module--maxWidthLarge--05718 {
  max-width: 100%;
  max-width: var(--cards-max-width-large);
}

/**
 * Sections -> Cards -> CardItem
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

/**
 * Pagebuilder -> sections -> Cards -> Variables
 */

:root {
  --cards-gutter-size-small: calc(var(--gutter)*0.75);
  --cards-gutter-size-medium: calc(var(--gutter)*1.5);
  --cards-gutter-size-large: calc(var(--gutter)*2.5);

  --cards-max-width-default: 75rem;
  --cards-max-width-medium: 64rem;
  --cards-max-width-small: 45rem;
  --cards-max-width-large: 100%;
}

.CardItem-module--root--90810 {
  flex-grow: 0;
  outline: 0;
}

.CardItem-module--inner--650d0 {
  padding: var(--gutter);
  height: 100%;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  color: var(--color-text-default);
  position: relative;
}

/* Flippable */

.CardItem-module--isFlippable--d8cb4 {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.CardItem-module--isFlippable--d8cb4 .CardItem-module--inner--650d0 {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

.CardItem-module--isFlippable--d8cb4 .CardItem-module--badge--ca612 {
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
  }

/* Only touch devices */

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 {
  position: relative;
  z-index: 50;
}

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

.CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
      opacity: 0;
      transition-delay: 0.1s;
    }

/* Non-touch devices */

@media (hover: hover) {
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover,
  .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus {
    position: relative;
    z-index: 50;
  }

    .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }

      .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4.CardItem-module--isClicked--53e71 .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:hover .CardItem-module--inner--650d0 .CardItem-module--badge--ca612, .CardItem-module--root--90810.CardItem-module--isFlippable--d8cb4:focus .CardItem-module--inner--650d0 .CardItem-module--badge--ca612 {
        opacity: 0;
        transition-delay: 0.1s;
      }
}

.CardItem-module--flippableBackside--09dd3 {
  border-radius: var(--border-radius-medium);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--gutter);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.CardItem-module--flippableBackside__content--095bc {
  flex: 1 1;
  display: flex;
  align-items: center;
  padding: 0 2rem 2rem;
  line-height: 1.65;
  text-align: center;
}

/* Badge */

.CardItem-module--badge--ca612 {
  position: absolute;
  top: 0;
}

.CardItem-module--badge--ca612 img {
    width: 8rem;
    height: 3.5rem;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 {
    left: 0;
    -webkit-transform: translate(-35%, -25%);
            transform: translate(-35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__left--9b416 img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b {
    right: 0;
    -webkit-transform: translate(35%, -25%);
            transform: translate(35%, -25%);
  }

.CardItem-module--badge--ca612.CardItem-module--badge__right--8ea9b img {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
    }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b {
    top: auto;
    right: -1.4rem;
    bottom: 0;
  }

.CardItem-module--badge--ca612.CardItem-module--badge__bottom_right--4384b img {
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }

/* Content */

.CardItem-module--content--2b436 {
  text-align: center;
  padding: calc(var(--gutter)*1.25) calc(var(--gutter)/2) var(--gutter) calc(var(--gutter)/2);
}

.CardItem-module--content--2b436 .CardItem-module--content__title--d0397 {
  line-height: 1.3;
}

.CardItem-module--content--2b436 .CardItem-module--content__description--b23d2 {
  margin-top: calc(var(--gutter)/2);
  padding: 0 var(--gutter);
  line-height: 1.55;
}

/* Gutter */

.CardItem-module--gutterSizeExtraSmall--9b0d7 {
  padding: 0.25rem;
}

.CardItem-module--gutterSizeSmall--7b676 {
  padding: calc(var(--gutter)*0.75);
  padding: var(--cards-gutter-size-small);
}

.CardItem-module--gutterSizeMedium--b086d {
  padding: calc(var(--gutter)*1.5);
  padding: var(--cards-gutter-size-medium);
}

.CardItem-module--gutterSizeLarge--3ae74 {
  padding: calc(var(--gutter)*2.5);
  padding: var(--cards-gutter-size-large);
}

/* Width */

.CardItem-module--widthFull--9d50e {
  flex: 100% 0;
  min-height: 350px;
}

.CardItem-module--widthHalf--a424a {
  flex: 50% 0;
}

.CardItem-module--widthThird--beacb {
  min-width: 250px;
  flex: 33.3333% 0;
}

@media screen and (max-width: 950px) {
  .CardItem-module--widthThird--beacb {
    flex: 50% 0;
  }
}

.CardItem-module--widthFifth--c4aa2 {
  flex: 20% 0;
}

/* Padding */

div.CardItem-module--paddingSmall--74219 {
  padding: 0.5rem;
}

div.CardItem-module--paddingMedium--27c66 {
  padding: 1rem;
}

div.CardItem-module--paddingLarge--d6499 {
  padding: 1.5rem;
}

/* Background */

.CardItem-module--backgroundColorWhite--619d5 {
  background-color: var(--color-fill-default);
}

.CardItem-module--backgroundColorGray--8268a {
  background-color: var(--color-gray-5);
}

/* Box shadow */

.CardItem-module--boxShadowSmall--dba69 {
  box-shadow: var(--box-shadow-small);
}

.CardItem-module--boxShadowMedium--01b4f {
  box-shadow: var(--box-shadow-medium);
}

.CardItem-module--boxShadowLarge--8c988 {
  box-shadow: var(--box-shadow-large);
}

/* Image */

.CardItem-module--image--1b9ad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.CardItem-module--image__positioner--dac93 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gutter) 0;
}

.CardItem-module--image__inner--f397a {
  width: 100%;
}

.CardItem-module--imageSizeZoomed--0de6a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 0;
  margin-top: var(--gutter);
}

.CardItem-module--imageSizeSmall--236c8 {
  max-width: 40%;
}

.CardItem-module--imageSizeMedium--64e2a {
  max-width: 60%;
}

.CardItem-module--imageSizeLarge--6d8ed {
  max-width: 36rem;
}

.CardItem-module--imageSizeFull--e1341 {
  width: 100%;
  padding: 0;
}

/* Image position */

.CardItem-module--imagePositionAbove--847f8 {
  flex-direction: column-reverse;
}

@media (min-width: 767px) {
  .CardItem-module--imagePositionLeft--5b300,
  .CardItem-module--imagePositionRight--bbe2d {
    flex-direction: row;
    align-items: center;
  }

    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--content--2b436,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--content--2b436,
    .CardItem-module--imagePositionLeft--5b300 .CardItem-module--image--1b9ad,
    .CardItem-module--imagePositionRight--bbe2d .CardItem-module--image--1b9ad {
      width: 50%;
    }
}

/* Description position */

.CardItem-module--descriptionPositionBelowImage--c7700 .CardItem-module--content__description--b23d2 {
  margin-bottom: 1rem;
}

/* Bullet points */

.CardItem-module--bulletPoints--5dc9f {
  text-align: center;
  margin: 1rem 0;
}

.CardItem-module--bulletPoints--5dc9f li {
    margin-top: 0.75rem;
  }

/**
 * Responsive
 */

@media screen and (max-width: 1130px) {
  .CardItem-module--widthFifth--c4aa2 {
    flex: 33.3333% 0;
  }
}

@media (max-width: 1024px) {
  div.CardItem-module--inner--650d0 {
    padding: 0;
  }

    div.CardItem-module--inner--650d0.CardItem-module--paddingSmall--74219 {
      padding: 0.25rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingMedium--27c66 {
      padding: 0.5rem;
    }

    div.CardItem-module--inner--650d0.CardItem-module--paddingLarge--d6499 {
      padding: 1rem;
    }

  .CardItem-module--gutterSizeLarge--3ae74 {
    padding: calc(var(--gutter)*1.5);
    padding: var(--cards-gutter-size-medium);
  }
}

@media (max-width: 767px) {
  .CardItem-module--root--90810 {
    flex: 100% 0;
    max-width: 525px;
    padding: calc(var(--gutter)*2) var(--gutter);
  }

  .CardItem-module--imageSizeZoomed--0de6a {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .CardItem-module--widthFull--9d50e {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .CardItem-module--badge--ca612 img {
    height: 3rem;
  }
}

@media (max-width: 500px) {
  .CardItem-module--badge--ca612 {
    position: static;
    -webkit-transform: none !important;
            transform: none !important;
    margin: calc(var(--gutter)*-1.8) auto 0 auto;
  }

    .CardItem-module--badge--ca612 img {
      -webkit-transform: none !important;
              transform: none !important;
    }
}

/**
* Custom layout changes
*/

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--image--1b9ad {
    padding: 0 calc(var(--gutter)*2);
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--content__description--b23d2 {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

.CardItem-module--root--90810.layout--white_large_full_width .CardItem-module--inner--650d0 {
    padding: var(--gutter);
  }

/* & .content {
    flex: 1;
  } */

.CardItem-module--root--90810.layout--service_page_card .CardItem-module--image--1b9ad {
    height: auto;
  }

/**
 * Alert
 */

.Alert-module--root--a210e + .Alert-module--root--a210e {
  margin-top: var(--alert-stacked-margin-top);
}

.Alert-module--inner--fa5ab {
  min-height: var(--alert-min-height);
  font-size: var(--alert-font-size);
  display: flex;
  align-items: center;
  width: 100%;
  line-height: var(--alert-line-height);
  text-align: left;
  border-radius: var(--alert-border-radius);
  border: 1px solid;
}

.Alert-module--inner--fa5ab a,
  .Alert-module--inner--fa5ab button {
    font-size: inherit;
  }

[dir='rtl'] .Alert-module--inner--fa5ab {
  text-align: right;
}

/**
 * Content
 */

.Alert-module--content--5c0a4 {
  flex: 1 1;
  align-self: center;
  padding: var(--alert-padding-vertical) var(--alert-padding-horizontal);
}

.Alert-module--content--5c0a4 strong {
    font-weight: var(--font-weight-medium);
  }

/**
 * Icon
 */

.Alert-module--icon--a22ee {
  margin: 0 0 0 var(--alert-padding-horizontal);
  min-height: var(--alert-min-height);
  font-size: 0.9rem;
}

[dir='rtl'] .Alert-module--icon--a22ee {
  margin: 0 var(--alert-padding-horizontal);
}

/**
 * Appearances
 */

.Alert-module--appearance_default--f34bf {
  background-color: var(--alert-default-fill);
  color: var(--alert-default-color);
  border-color: var(--alert-default-border-color);
}

.Alert-module--appearance_error--eaa17 {
  background-color: var(--alert-error-fill);
  color: var(--alert-error-color);
  border-color: var(--alert-error-border-color);
}

.Alert-module--appearance_error--eaa17 .Alert-module--icon--a22ee svg {
    fill: var(--color-danger);
  }

.Alert-module--appearance_success--f72c6 {
  background-color: var(--alert-success-fill);
  color: var(--alert-success-color);
  border-color: var(--alert-success-border-color);
}

.Alert-module--appearance_success--f72c6 .Alert-module--icon--a22ee svg {
    fill: var(--color-success);
  }

.Alert-module--appearance_warning--c447d {
  background-color: var(--alert-warning-fill);
  color: var(--alert-warning-color);
  border-color: var(--alert-warning-border-color);
}

.Alert-module--appearance_warning--c447d .Alert-module--icon--a22ee svg {
    fill: var(--color-warning);
  }

/**
 * Transition
 */

.Alert-module--enter--2c52c {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.Alert-module--enterActive--347e3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, transform 200ms;
  transition: opacity 200ms, transform 200ms, -webkit-transform 200ms;
}

.Alert-module--exit--e18cc {
  opacity: 1;
}

.Alert-module--exitActive--15c79 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  transition: opacity 200ms, -webkit-transform 300ms;
  transition: opacity 200ms, transform 300ms;
  transition: opacity 200ms, transform 300ms, -webkit-transform 300ms;
}

/**
 * Components -> Card
 */

.Card-module--root--f0942 {
  background-color: var(--color-fill-default);
  padding: var(--gutter);
}

.Card-module--noPadding--0cc94 {
  padding: 0;
}

/* Border radius sizes */

.Card-module--border_radius_small--e1760 {
  border-radius: var(--border-radius-small);
}

.Card-module--border_radius_medium--bca39 {
  border-radius: var(--border-radius-medium);
}

.Card-module--border_radius_large--92a24 {
  border-radius: var(--border-radius-large);
}

/* Box Shadow */

.Card-module--box_shadow_small--33577 {
  box-shadow: var(--box-shadow-small);
}

.Card-module--box_shadow_medium--6393f {
  box-shadow: var(--box-shadow-medium);
}

.Card-module--box_shadow_large--52d9d {
  box-shadow: var(--box-shadow-large);
}

/* Background Color */

.Card-module--background_color_lightgray--e2d6d {
  background-color: var(--color-gray-4);
}

.Card-module--background_color_white--3d1ea {
  background-color: #fff;
}

/**
 * Textarea
 */

.Textarea-module--root--a2db7 {
  width: 100%;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-base-fill);
  padding: var(--input-field-vertical-padding) var(--input-field-horizontal-padding);
  outline: 0;
  vertical-align: top;
  resize: none;
  -webkit-appearance: none;
          appearance: none;
  color: var(--color-text-default);
  border-radius: var(--input-border-radius);
}

.Textarea-module--root--a2db7:focus {
    border-color: var(--input-border-color-focus);
    background-color: var(--input-fill-focus);
  }

.Textarea-module--root--a2db7:disabled {
    background-color: var(--input-disabled-fill);
  }

.Textarea-module--root--a2db7::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
  }

.Textarea-module--root--a2db7::placeholder {
    color: var(--input-placeholder-color);
  }

.Textarea-module--error--becf5 {
  border-color: var(--input-error-color);
  background-color: var(--input-error-fill);
}

/**
 * Negative background
 */

.Textarea-module--negativeBackground--47618 {
  background-color: var(--input-negative-fill);
}

/**
 * Proposal Form -> StepCard
 */

.Content-module--root--19452 {
  margin-bottom: calc(var(--gutter)*2);
  display: flex;
}

.Content-module--illustration--a08b9 {
  max-width: 120px;
  margin: calc(var(--gutter)*0.75) auto calc(var(--gutter)*0.75) auto;
}

.Content-module--title--f8abb {
  line-height: 1.4;
}

.Content-module--root--19452 div.Content-module--start--a4b29 {
  padding: calc(var(--gutter)*2);
  flex: 1 1;
}

.Content-module--end--b433d {
  flex: 250px 0;
  padding: var(--gutter);
  background-color: #f9f9f9;
  border: 8px solid #f2f2f2;
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
  text-align: center;
}

.Content-module--header--1b74f {
  text-align: center;
  margin-bottom: calc(var(--gutter)*2);
}

@media screen and (max-width: 800px) {
  .Content-module--root--19452 div.Content-module--start--a4b29 {
    padding: calc(var(--gutter)*2) var(--gutter);
  }

  .Content-module--root--19452 {
    flex-direction: column;
  }
}

/**
 * Proposal Form -> components -> OptionsField
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.OptionsField-module--button--56f47 {
  margin: calc(var(--gutter)/2);
}

.OptionsField-module--root--bceb9 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 42rem;
}

@media (max-width: 767px) {
  .OptionsField-module--button--56f47 {
    width: 100%;
  }
}

/**
 * FormGroup
 */

.FormGroup-module--root--f5bae {
  position: relative;
}

.FormGroup-module--root--f5bae + .FormGroup-module--root--f5bae {
  margin-top: calc(var(--gutter)*2);
}

/**
 * Label
 */

.HelperText-module--root--91c88 {
  font-size: var(--helper-text-font-size);
  font-weight: var(--helper-text-font-weight);
  color: var(--helper-text-color);
  display: inline-flex;
  line-height: 1.35;
}

.HelperText-module--iconWrap--428bf {
  margin-right: 0.4rem;
}

.HelperText-module--error--1747b {
  color: var(--color-danger);
}

.HelperText-module--success--da5e9 {
  color: var(--color-success);
}

.HelperText-module--info--390ac {
  color: var(--color-info);
}

/**
 * Input
 */

.Input-module--root--74f0b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-base-fill);
  min-height: var(--input-min-height);
  font-size: var(--input-font-size);
  border-radius: var(--input-border-radius);
}

.Input-module--root--74f0b.Input-module--isFocused--be64a {
  border-color: var(--input-border-color-focus);
  background-color: var(--input-fill-focus);
}

.Input-module--input--50490 {
  border: 0;
  font-size: var(--input-font-size);
  width: 100%;
  min-height: var(--input-min-height);
  padding: 0 var(--input-field-horizontal-padding);
  outline: 0;
  flex: 1 1;
  background-color: transparent;
  min-width: 0;
  color: var(--input-color);
}

.Input-module--input--50490::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
  }

.Input-module--input--50490::placeholder {
    color: var(--input-placeholder-color);
  }

.Input-module--readOnly--41b56 {
  background-color: var(--gray-4);
  border-color: var(--input-border-color);
}

.Input-module--hasStartSection--645ff .Input-module--input--50490 {
  padding-left: 0;
}

.Input-module--hasEndSection--67c5b .Input-module--input--50490 {
  padding-right: 0;
}

.Input-module--input--50490[type='number']::-webkit-inner-spin-button,
.Input-module--input--50490[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
 * Inline label
 */

.Input-module--inlineLabel--ff0c0 {
  color: var(--color-figure-62);
  font-style: italic;
  padding: 0 0.25em;
  font-size: 0.95em;
}

/**
 * Start- and -end sections
 */

.Input-module--renderStart--24286,
.Input-module--renderEnd--a80cb {
  padding: 0 calc(var(--gutter)/2);
  height: 100%;
  display: flex;
  align-items: center;
}

/**
 * Disabled
 */

.Input-module--isDisabled--4a486,
.Input-module--root--74f0b input.Input-module--input--50490:disabled {
  background-color: var(--input-disabled-fill);
}

/**
 * Error
 */

.Input-module--error--9a927,
.Input-module--root--74f0b.Input-module--isFocused--be64a.Input-module--error--9a927 {
  border-color: var(--input-error-color);
  background-color: var(--input-error-fill);
}

/**
* Size
*/

.Input-module--root--74f0b.Input-module--sizeLarge--f349d {
  min-height: 3.3rem;
}

@media screen and (max-width: 500px) {
  .Input-module--root--74f0b.Input-module--sizeLarge--f349d {
    min-height: 2.5rem;
  }
}

/**
 * Label
 */

.Label-module--root--54645 {
  display: flex;
  color: var(--form-label-color);
  margin-bottom: var(--form-label-margin-bottom);
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Label-module--asterisk--b94a6 {
  color: var(--color-danger);
  margin-left: 0.3rem;
}

.Label-module--root--54645 .Label-module--start--f8b67 {
  font-weight: var(--form-label-font-weight);
  font-size: var(--form-label-font-size);
}

.Label-module--root--54645.Label-module--bold--cca14 .Label-module--start--f8b67 {
  font-weight: var(--font-weight-bold);
}

.Label-module--end--6f9be {
  padding-left: var(--gutter);
}

.Label-module--end--6f9be > * {
    margin-top: 0;
  }

/**
 * Dirty indicator
 */

.Label-module--dirty--f69c9::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-secondary);
  border-radius: 999px;
  position: absolute;
  left: calc(var(--gutter)*-1);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.FormField-module--helperText--2f823 {
  margin-top: 0.25rem;
}

/**
 * Proposal Form -> Steps -> Company
 */

.Company-module--root--6cbad {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Company-module--input--c5787 {
  max-width: 300px;
  width: 100%;
}

.Company-module--button--da26f {
  margin-bottom: calc(var(--gutter)*2);
}

.Company-module--companyLogo--12a1b {
  height: 80px;
  margin-top: -0.75rem;
  margin-bottom: calc(var(--gutter)*1.5);
}

/**
 * Proposal Form -> Steps -> Competitors
 */

.Competitors-module--root--9cf2c {
  max-width: 300px;
  margin: auto;
}

/**
 * Proposal Form -> Steps -> Contact
 */

div.Contact-module--root--7d79e {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gutter)/-2);
}

div.Contact-module--root--7d79e .Contact-module--column--65eea {
    padding: 0 calc(var(--gutter)/2);
    flex: 33.3333% 1;
    margin-top: var(--gutter);
  }

div.Contact-module--root--7d79e .Contact-module--columnFull--b8df5 {
    flex: 100% 1;
  }

@media screen and (max-width: 500px) {
  .Contact-module--root--7d79e div.Contact-module--column--65eea {
    flex: 100% 1;
    margin-top: calc(var(--gutter)*1.5);
  }
}

/**
 * Proposal Form -> Steps -> SelectServices
 */

.SelectServices-module--root--fa19a {
  max-width: 42rem;
}

/**
 * Proposal Form
 */

.ProposalForm-module--root--d3846 {
  max-width: 56rem;
  margin: auto;
}

.ProposalForm-module--root--d3846 .ProposalForm-module--card--b7522 {
  padding: 0;
}

.ProposalForm-module--footer--2908f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProposalForm-module--error--5d3d2 {
  margin-top: var(--gutter);
}

.ProposalForm-module--continueButton--568fb {
  width: 100%;
  max-width: 28rem;
  margin: calc(var(--gutter)*2) 0 0 0;
}

.ProposalForm-module--skipButton--b5bb9 {
  color: var(--color-gray-3);
  text-decoration: none !important;
  margin-top: var(--gutter);
}

.ProposalForm-module--skipButton--b5bb9:active {
    color: var(--color-primary);
  }

@media (hover: hover) {
    .ProposalForm-module--skipButton--b5bb9:hover {
      color: var(--color-primary);
    }
}

/**
 * Comment
 */

.ProposalForm-module--comment--2a563 {
  text-align: center;
}

.ProposalForm-module--comment__textarea--fc51a {
  max-width: 600px;
  height: 180px;
}

/**
 * Responsive
 */

@media screen and (max-width: 475px) {
  .ProposalForm-module--continueButton--568fb {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    padding: 0.7rem 0.2rem;
  }
}

/**
 * Pagebuilder -> sections -> ProposalForm
 */

.ProposalForm-module--section--aba04 {
  overflow: hidden;
}

.ProposalForm-module--container--d306b {
  position: relative;
}

.ProposalForm-module--container--d306b .ProposalForm-module--illustration--3ea01 {
  position: absolute;
  top: -4.5rem;
  z-index: -1;
  left: -4rem;
  right: -4rem;
}

@media screen and (max-width: 1000px) {
  .ProposalForm-module--illustration--3ea01 {
    display: none;
  }
}

/**
 * Components -> Avatar
 */

.Avatar-module--root--496c9 {
  display: flex;
  align-items: center;
}

.Avatar-module--avatar--5db80 {
  margin-right: calc(var(--gutter)*0.75);
  background-color: var(--color-gray-4);
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 32px;
  flex-shrink: 0;
}

.Avatar-module--avatar--5db80 img {
    border-radius: 999px;
  }

.Avatar-module--avatar__image--abe79 {
  height: 100%;
  width: 100%;
}

.Avatar-module--title--42439 {
  margin-top: 0.186rem;
  opacity: 0.8;
}

/* Sizes */

.Avatar-module--size__medium--3b137 .Avatar-module--avatar--5db80 {
    width: 48px;
    height: 48px;
  }

.Avatar-module--size__large--1e187 .Avatar-module--avatar--5db80 {
    width: 120px;
    height: 120px;
    margin-right: calc(var(--gutter)*1.5);
    font-size: 80px;
  }

.Avatar-module--size__large--1e187 .Avatar-module--name--95cd6,
  .Avatar-module--size__large--1e187 .Avatar-module--title--42439 {
    font-size: 1.1rem;
  }

/* Vertical */

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 {
  flex-direction: column;
}

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 .Avatar-module--avatar--5db80 {
    margin: 0 0 var(--gutter) 0;
  }

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 .Avatar-module--title--42439 {
    margin-top: calc(var(--gutter)*0.5);
    line-height: 1.35;
  }

@media screen and (max-width: 400px) {
    .Avatar-module--size__large--1e187 .Avatar-module--avatar--5db80 {
      width: 65px;
      height: 65px;
      margin-right: calc(var(--gutter)*1.5);
      font-size: 40px;
    }
}

/**
 * Components -> Testimonial
 */

:root {
  --testimonial-max-width: 1000px;
}

div.Testimonial-module--root--a9c5f {
  max-width: 1000px;
  max-width: var(--testimonial-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--gutter)*1.5);
  position: relative;
}

div.Testimonial-module--root--a9c5f.Testimonial-module--transparentBackground--3dc01 {
    background: none;
    box-shadow: none;
  }

.Testimonial-module--root--a9c5f + .Testimonial-module--root--a9c5f {
  margin-top: calc(var(--gutter)*3.5);
}

.Testimonial-module--quote--f4665 {
  margin-bottom: calc(var(--gutter)*1.5);
}

.Testimonial-module--quote__text--c7286 {
  line-height: 1.5;
}

.Testimonial-module--icon--47a22 {
  width: 50px;
  fill: var(--color-secondary);
  margin: 0 auto var(--gutter) auto;
  display: block;
}

@media screen and (min-width: 900px) {
  .Testimonial-module--icon--47a22 {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
  }
}

/**
 * Components -> LoopingVideo
 */

.LoopingVideo-module--root--24450 {
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-filter: contrast(0.98);
          filter: contrast(0.98);
}

.LoopingVideo-module--video--b10c2 {
  position: absolute;
  z-index: 2;
  width: 101%;
  height: 101%;
}

.LoopingVideo-module--isPlaying--c45ec .LoopingVideo-module--placeholder--86dde {
  visibility: hidden;
}

/**
 * Components -> VideoEmbed
 */

.VideoEmbed-module--root--d4dc0 {
  width: 100%;
  position: relative;
}

.VideoEmbed-module--wrap--2aab8 {
  padding-top: 56.25%;
  display: block;
  background-color: var(--color-fill-skeleton);
}

.VideoEmbed-module--inner--e9919 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.VideoEmbed-module--iframe--68f24 {
  width: 100%;
  height: 100%;
}

/**
 * Pagebuilder -> sections -> Video -> VideoEmbeds
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.VideoEmbeds-module--videos--2974c {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0 calc(var(--gutter)*-1);
}

.VideoEmbeds-module--videos__item--31ecc {
  flex: 1 1;
  max-width: 800px;
  padding: var(--gutter);
  min-width: 33.33333%;
}

button.VideoEmbeds-module--loadMoreButton--66c05 {
  display: block;
  margin: calc(var(--gutter)*3) auto 0 auto;
}

/**
 * Responsive
 */

@media (max-width: 767px) {
  .VideoEmbeds-module--videos__item--31ecc {
    padding: calc(var(--gutter)/2);
    min-width: 50%;
  }
}

@media (max-width: 500px) {
  .VideoEmbeds-module--videos__item--31ecc {
    flex: 100% 1;
  }
}

/**
 * Pagebuilder -> sections -> VisitorLogoInsert
 */

.VisitorLogoInsert-module--centeredLogoContainer--98830 {
  width: 100%;
  margin: auto;
  max-width: 34rem;
  position: relative;
}

.VisitorLogoInsert-module--centeredLogoContainer__logo--7a76c {
  width: 16%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.VisitorLogoInsert-module--logo__circular--27a08 {
  border-radius: 999px;
}

